In [20]:
import tensorflow as tf
import pickle
from tensorflow.keras.models import load_model
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd

In [4]:
model=load_model('model.h5')

WARNING:tensorflow:From e:\Nesma\NLP\NLP\course2\ANN\venv\Lib\site-packages\keras\src\backend.py:1398: The name tf.executing_eagerly_outside_functions is deprecated. Please use tf.compat.v1.executing_eagerly_outside_functions instead.

In [ ]:
# label encoder
with open("label_encoder_gender.pkl","rb")as file:
    label_encoder=pickle.load(file)
    
# one encoder
with open("one_encoder_geo.pkl","rb")as file:
    one_hot_encoder=pickle.load(file)

#scaler
with open('scaling.pkl','rb') as file:
    scaler=pickle.load(file)

In [48]:
input_data={
    'CreditScore':600,
    'Geography':'France',
    'Gender':'Male',
    'Age':40,
    'Tenure':3,
    'Balance':10000,
    'NumOfProducts':2,
    'HasCrCard':1,
    'IsActiveMember':1,
    'EstimatedSalary':50000
    
}

In [49]:
input_data=pd.DataFrame([input_data])

In [50]:
input_data

,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary
0,600,France,Male,40,3,10000,2,1,1,50000

In [51]:
input_data['Gender']=label_encoder.transform(input_data['Gender'])

In [52]:
input_data

,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary
0,600,France,1,40,3,10000,2,1,1,50000

In [53]:
one_hot=one_hot_encoder.transform([input_data['Geography']])

e:\Nesma\NLP\NLP\course2\ANN\venv\Lib\site-packages\sklearn\utils\validation.py:2749: UserWarning: X does not have valid feature names, but OneHotEncoder was fitted with feature names
  warnings.warn(

In [54]:
result=pd.DataFrame(one_hot,columns=one_hot_encoder.get_feature_names_out(['Geography']))
result

   Geography_France  Geography_Germany  Geography_Spain
0               1.0                0.0              0.0

In [55]:
x_test=pd.concat((input_data.drop(['Geography'],axis=1),result),axis=1)

In [56]:
x_test

,CreditScore,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Geography_France,Geography_Germany,Geography_Spain
0,600,1,40,3,10000,2,1,1,50000,1.0,0.0,0.0

In [57]:
x_test_scaled=scaler.transform(x_test)

In [61]:
model.predict(x_test_scaled)[0][0]>0.5

1/1 [==============================] - 0s 55ms/step

False